@tailwind base;
@tailwind components;
@tailwind utilities;

/* base for basic 
h1 -> h6
input
ul
p

*/
@layer base{
    h1{
    @apply font-bold
    }
}
@layer components{
    .add-card{
        @apply bg-blue-50
    }
}
@layer utilities{
    
}