@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Priorities:
Utilities > Component > base
*/

/* @layer base: Include the decoration of basic style such as h1->h6, p, a, body*/
@layer base {
  body {
    @apply font-palanquin text-slate-gray antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-montserrat font-bold text-black;
  }

  a {
    @apply no-underline hover:opacity-80 transition-opacity;
  }
}

/* @layer components: Include the useable long decorated component such as class like .input .max-container*/
@layer components {
  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }

  .max-container{
    @apply max-w-[1440px] my-0 mx-auto
  }

  .background-default{
    @apply
  }
}

/* @layer utilities: Include the high priorities class such as p-4 -> padding-sm to impact directly to website*/
@layer utilities{
  .padding{
    @apply sm:px-16 px-8 sm:py-24 py-12
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text{
    @apply font-montserrat text-slate-gray text-lg leading-7
  }

  /* Modal section */
  .modal-overlay{
    @apply min-h-screen w-full;
    @apply bg-gradient-to-b from-gray-950 to-cyan-950;
    @apply flex justify-center
  }
}